<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DOM-övning 1</title>
</head>
<body>

<button id="knappt"><p>Detta är en knapp</p></button>

<h1>In- och utdata</h1>

<hr>
<h4>Input</h4>
<form id="inputForm">
    <p>Indata 1: <input type="text" id="input1"></p>
    <p>Indata 2: <input type="text" id="input2"></p>
</form>
<button type="button" id="runBtn">Kör program</button>
<hr>

<h4>Produkt</h4>
<div id="result"></div>  <!-- resultatet ska hamna här-->

<hr>

<h4>Övning 3</h4>

<a id="link" href="https://edument.se/" hreflang="se" target="_blank"><button>Länkknapp</button></a>

<hr>
<h4>Övning 4</h4>

<a href="file:///Users/tobiasekman/Documents/EC/Git/JS/javascript-exercises/dom-exercises/views/build-with-js.html"><button>Övning 4</button></a>

<hr>
<h4>övning 5</h4>

<table id="myTable">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td>25</td>
    </tr>
</table>

<span><button type="button" id="addBtn">Addera rad</button> <button type="button" id="removeBtn">Fimpa rad</button></span>

<hr>
<h5>Övning 6</h5>

<div id="logg">
</div>

<hr>
<h5>Övning 7</h5>

<form action="">
    First name:<br>
    <input type="text" name="firstname" value="John">
</form>

<hr>
<h5>Övning 8</h5>
<button type="button" id="dynamicBtn">Engångsknapp?</button>



<script src="../scripts/index.js"></script>
</body>
</html>